{% extends 'base.html.twig' %}

{% block title %}Info Ciné{% endblock %}

{% block body %}

{% for article in articles %}
    
    <img src="{{ asset('uploads/photos/' ~ article.img) }}" width="50">
    <h1>{{ article.title }}</h1>
    <p>{{ article.dateRelease }}</p>
    <p>{{ article.contents|raw }}</p>
    <div id='blogvision'>
        <iframe src='{{ article.video }}' style='width:480px; height:270px'></iframe>
    </div>


{% endfor %}


{% endblock %}
