{% extends 'baseAdmin.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Sujet</th>
                <th>Message</th>
                <th>Date de Création</th>
                {# <th>Date de modification</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.topic }}</td>
                <td>{{ contact.message }}</td>
                {# <td>{{ contact.dateCreate ? contact.dateCreate|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ contact.dateEdit ? contact.dateEdit|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}"><i class="fas fa-plus-square"></i></a>
                    {# <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('contact_new') }}">Nouveau</a> #}
{% endblock %}
