{% extends 'baseAdmin.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date Création</th>
                <th>Date Modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for remark in remarks %}
            <tr>
                <td>{{ remark.id }}</td>
                <td>{{ remark.title }}</td>
                <td>{{ remark.contents|raw }}</td>
                <td>{{ remark.dateCreate ? remark.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ remark.dateEdit ? remark.dateEdit|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('remark_show', {'id': remark.id}) }}">Afficher</a>
                    <a href="{{ path('remark_edit', {'id': remark.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('remark_new') }}">Nouveau</a>
{% endblock %}
