{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ remark.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ remark.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ remark.contents|raw }}</td>
            </tr>
            <tr>
                <th>Date Création</th>
                <td>{{ remark.dateCreate ? remark.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date Modification</th>
                <td>{{ remark.dateEdit ? remark.dateEdit|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('remark_index') }}">Retour à la liste</a>

    <a href="{{ path('remark_edit', {'id': remark.id}) }}">Modifier</a>

    {{ include('remark/_delete_form.html.twig') }}
{% endblock %}
