{% extends 'baseAdmin.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ remark.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ remark.user.pseudo }}</td>
            </tr>
            <tr>
                <th>Titre de l'article</th>
                <td>{{ remark.article.title }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ remark.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ remark.contents|raw }}</td>
            </tr>
            <tr>
                <th>Date Création</th>
                <td>{{ remark.dateCreate ? remark.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date Modification</th>
                <td>{{ remark.dateEdit ? remark.dateEdit|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('remark_index') }}"><i class="fas fa-undo-alt"></i></a>

    <a href="{{ path('remark_edit', {'id': remark.id}) }}"><i class="fas fa-edit"></i></a>

    {{ include('remark/_delete_form.html.twig') }}
{% endblock %}
