{% extends 'baseAdmin.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                {# <th>Catégorie</th> #}
                <th>Date de sortie</th>
                <th>Contenu</th>
                {# <th>Video</th> #}
                {# <th>Date de création</th> #}
                <th>Date de modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td><img src="{{ asset('uploads/photos/' ~ article.img) }}" width="50"></td>
                <td>{{ article.title }}</td>
                {# <td>
                    {% for category in articles.category %}
                        {{ category.nameCategory }}
                    {% endfor %}
                </td> #}


                <td>{{ article.dateRelease }}</td>
                <td>{{ article.contents|raw }}</td>
                {# <td>{{ article.video }}</td> #}
                {# <td>{{ article.dateCreate ? article.dateCreate|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ article.dateEdit ? article.dateEdit|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}"><i class="fas fa-plus-square"></i></a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}"><i class="fas fa-folder-plus"></i></a> Nouveau
    
{% endblock %}
